<footer class="site-footer">

  <div class="wrapper">

    <h5 class="footer-heading">
      Contact us today for timber sales: <a href="maito:sales@miroforestry.com">sales@miroforestry.com</a>
    </h5>

    <div class="footer-contacts">
      <span>UK: +44 (0)203 6750994</span>
      |
      <span>Ghana: +232 (0)78021620</span>
      |
      <span>Sierra Leone: +233 (0)244939430</span>

    </div>

    <div class="footer-col-wrapper">
      
      <!-- Quick Links -->
      <div class="footer-col footer-col-1 quick-links">
        
        <div class="inner">
          <h6>Quick Links</h6>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/company/overview">Company</a>
            </li>
            <li>
              <a href="/products/overview">Products/Sales</a>
            </li>
            <li>
              <a href="/plantations/overview">Plantations</a>
            </li>
          </ul>
        </div>

      </div>

      <!-- Mailing List -->
      <div class="footer-col footer-col-2 mailing-list">
        <div class="inner">
          <h6>Join our mailing list</h6>
          <p>Sign up to news and updates</p>
          <form action="/">
            <input type="email" placeholder="Your email address" class="email">
            <input type="submit" value="Join" class="submit">
            <div style="clear:both;"></div>
          </form>
        </div>
      </div>

      <!-- Certification -->
      <div class="footer-col footer-col-3 certification">
        <ul>
          <li>
            <img src="./assets/images/footer/fsc-1.png" alt="FSC 136035">
          </li>
          <li>
            <img src="./assets/images/footer/fsc-2.png" alt="FSC 135138">
          </li>
        </ul>
      </div>
      


    </div>

  </div>

</footer>


<div class="legal">
  <div class="wrapper">
    Copyright {{ 'now' | date: "%Y" }} Miro Forestry
    |
    <a href="#">Terms of Use</a>
    |
    <a href="#">Privacy Statement</a>
  </div>
</div>