
<footer class="site-footer">

  <div class="wrapper">

    <h5 class="footer-heading">
      Contact us today for timber sales: <a href="maito:sales@miroforestry.com">sales@miroforestry.com</a>
    </h5>

    <ul class="footer-contacts">
      <li>UK: <i class="fab fa-whatsapp-square"></i> <i class="fas fa-phone-square-alt"></i>&nbsp;+44 (0)7899074158 / 07743557957</li>
      <li>Ghana: <i class="fab fa-whatsapp-square"></i> <i class="fas fa-phone-square-alt"></i>&nbsp;+233 (0)208006363 / +233 (0)505757787</li>
      <li>Sierra Leone: <i class="fab fa-whatsapp-square"></i> <i class="fas fa-phone-square-alt"></i>&nbsp; </i>+232 (0)30303040 / +232 (0)99340209</li>
    </ul>

    <div class="footer-col-wrapper">
      
      <!-- Quick Links -->
      <div class="footer-col footer-col-1 quick-links">
      
        <h6>Quick Links</h6>
        <ul>
          <li>
            <a href="./company/overview">Company</a>
          </li>
          <li>
            <a href="./plantations/boumfoum-ghana">Plantations</a>
          </li>
          <li>
            <a href="./sustainability/overview">Sustainability</a>
          </li>
          <li>
            <a href="./products/timber">Products &amp; Sales</a>
          </li>
          <li>
            <a href="./careers">Careers</a>
          </li>
          <li>
            <a href="./contact">Contact</a>
          </li>
        </ul>
      

      </div>

      <!-- Certification -->
      <div class="footer-col footer-col-3 certification">
        <ul>
          <li>
            <img src="./assets/images/footer/fsc-1.png" alt="FSC 136035">
          </li>
          <li>
            <img src="./assets/images/footer/fsc-2.png" alt="FSC 135138">
          </li>
          <li>
            <img src="./assets/images/footer/elite.png" alt="Elite">
          </li>
        </ul>
      </div>
      


    </div>

  </div>

</footer>


<div class="legal">
  <div class="wrapper">
    Copyright {{ 'now' | date: "%Y" }} Miro Forestry
  </div>
</div>
