<footer class="site-footer">

  <div class="wrapper">

    <h5>Contact us today for timber sales: sales@miroforestry.com</h5>

    <div class="contacts">
      <span>UK: +44 (0)203 6750994</span>
      |
      <span>Ghana: +232 (0)78021620</span>
      |
      <span>Sierra Leone: +233 (0)244939430</span>

    </div>

    <div class="ctas">
      
      <!-- Quick Links -->
      <div class="quick-links">
        <h6>Quick Links</h6>
        <ul>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">Home</a>
          </li>
        </ul>
      </div>

      <!-- Mailing List -->
      <div class="mailing-list">
        <h6>Join our mailing list</h6>
        <p>Sign up to news and updates</p>
        <form action="/">
          <input type="text">
          <input type="submit" value="Join">
        </form>
      </div>

      <!-- Certification -->
      <ul>
        
        <li>
          <img src="" alt="FSC">
        </li>
        <li>
          <img src="" alt="FSC">
        </li>

      </ul>


    </div>

    <div class="legal">
      Copyright 2017 by Miro Forestry
      |
      <a href="#">Terms of Use</a>
      |
      <a href="#">Privacy Statement</a>
    </div>

  </div>

</footer>
