<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/company/overview">COMPANY</a>
            <ul class="arrow">
                <li><a href="/company/overview">COMPANY OVERVIEW</a></li>
                <li><a href="/company/objectives-goals">OBJECTIVES &amp; GOALS</a></li>
                <li><a href="/company/business-strategy">BUSINESS STRATEGY</a></li>
                <li><a href="/company/strengths">STRENGTHS</a></li>
                <li><a href="/company/board-of-directors">BOARD OF DIRECTORS</a></li>
                <li><a href="/company/pdfs/MFD Policies 2017.pdf">POLICIES</a></li>   
                <li><a href="/company/annual-reports">ANNUAL REPORTS</a></li>      
            </ul>
        </li>
        <li><a href="/plantations/boumfoum-ghana">PLANTATIONS</a>
            <ul class="arrow">
                <li><a href="/plantations/boumfoum-ghana">BOUMFOUM, GHANA</a></li>
                <li><a href="/plantations/yoni-sierra-leone">YONI, SIERRA LEONE</a></li>
                <li><a href="/plantations/ghana-country-facts">GHANA, COUNTRY FACTS</a></li>
                <li><a href="/plantations/sierra-leone-country-facts">SIERRA LEONE, COUNTRY FACTS</a></li>	
            </ul>
        </li>
        <li><a href="/sustainability/community">SUSTAINABILITY</a>
            <ul class="arrow">
                <li><a href="/sustainability/community">COMMUNITY</a></li>
                <li><a href="/sustainability/conservation">CONSERVATION</a></li>	
            </ul>
        </li>
        <li><a href="/sustainability/careers">CAREERS</a></li>
        <li><a href="/sustainability/contact">CONTACT</a></li>
    </ul>
</nav>