@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Roboto Slab', serif !default;
$base-font-size:   18px !default;
$base-font-weight: 300 !default;
$heading-font-weight: 300 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.4 !default;

$spacing-unit:     30px !default;

$text-color:       #6D7D85 !default;
$background-color: #ffffff !default;
$brand-color:      #6D7D85 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    1200px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;
$on-large-screen:  1400px !default;

$linear-gradient-from: #78A536;
$linear-gradient-to: #398A41;

// only used for the nav, otherwise, mobile by default
@mixin media-query-on-palm() {
  @media screen and (max-width: $on-palm) {
    @content;
  }
}

@mixin media-query-on-laptop() {
  @media screen and (min-width: $on-laptop) {
    @content;
  }
}

@mixin media-query-on-large-screen() {
  @media screen and (min-width: $on-large-screen) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting",
  "home",
  "../assets/slideshow-slippry/slippry.scss"
;

#contact-spinner {
  display: none;
  float:right;
}