
// Shared
.green-gradient {
  background: $linear-gradient-from; /* For browsers that do not support gradients */
  background: linear-gradient($linear-gradient-from, $linear-gradient-to); /* Standard syntax */
}

/**
 * Site header
 */

.site-header {
  
  padding: $spacing-unit 0;
  

  // Positioning context for the mobile navigation icon
  position: relative;

  @include media-query-on-laptop() {
    min-height: 96px;
    padding: 40px 0 $spacing-unit/2;
  }
}

.site-title {
  @include relative-font-size(1.625);
  font-weight: 300;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  
  // Image replacement
  background-image:url("../assets/images/header/logo-mobile.png");
  width: 143px; 
  height: 55px;
  text-indent: -5000px;
  overflow: hidden;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

@media (min-width: $on-laptop) {
  .site-title {
    // Image replacement
    background-image:url("../assets/images/header/logo.png");
    width: 245px; 
    height: 96px;
  }
}

.site-nav {

  float:right;
  margin-top:73px;
  font-size:20px;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }
  
  ul {
    padding: 0;
    margin: 0;
  }

  a {
    font-size:20px;
    color: #78A741;
  }
  a:hover {
    color: #0E8DB1;
    text-decoration: none;
  }
  ul ul li a {
    display: block;
    font-size:16px;
    color:#fff;
    padding:8px 16px;

    &:visited {
      color:#fff;
    }

    &:hover {
      color:#90BED3;
    }

    
  }

  li {
    display: inline;
    position: relative;
  }

  .trigger>ul>li:not(:last-child):after {
    content: " / ";
  }

  ul ul li {
    display: block;
  }

  ul ul {
    position: absolute;
    display: none;
    left: 0;
    top: 100%;
    width:300px;
    background:url("../assets/images/header/arrow.png") no-repeat 20px 0px;
    padding-top:5px;
  }
  ul ul li {
    background:#0E8DB1;
  }
  ul ul li:first-child {
    padding-top:12px;
  }
  ul ul li:last-child {
    padding-bottom:12px;
  }

  li:hover ul {
    display: block;
  }
  

  @include media-query-on-palm() {
    position: absolute;
    top: 29px;
    margin-top:0;
    right: $spacing-unit / 2;
    text-align: right;

    .trigger>ul>li:not(:last-child):after {
      content: none;
    }

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg path {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    ul {
      background-color: $background-color;
    }

    ul ul {
      position: static;
      display: block;
      background:url("../assets/images/header/arrow.png") no-repeat right $spacing-unit top;
      width:auto;
    }
    
    li {
      display: block;
    }
    li {
      margin:0 8px;
    }
    a {
      padding: 4px 8px;
    }
    a:after {
      content: "" !important;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #519CBC;
  padding: 40px 0;
  background:#0E8DB1;
  color:#fff;

  * {
    color:#fff;
  }
  a, a:hover, a:visited {
    color:#8FBAD1;
  }
  h6 {
    font-size:28px;
    margin-bottom:0;
  }
}


.footer-heading {
  font-size:17px;
  margin-bottom: 0;
  text-align: center;

  a {
    color: #fff;
  }

  @include media-query-on-laptop() {
    font-size:32px;
  }
}

.footer-contacts {
  font-size:14px;
  list-style:none;
  margin:0;
  padding:0;
  text-align: center;
  padding-bottom:30px;

  li {
    color: #8FBAD1;
  }

  @include media-query-on-laptop() {
    font-size:22px;
  }

}


.quick-links {
  line-height: 1.1;
  text-align: center;
  font-size:12px;
  padding:21px 0;
  border-top:1px solid #fff;
  

  h6 {
    font-weight: 300;
    font-size:16px;
  }
  
  ul {
    list-style: none;
    margin:0;
    font-size:12px;
    
  }
  ul li {
    display: inline;
    color: #8FBAD1;
  }
  ul li:not(:last-child):after {
    content: " / ";
  }

  a {
    text-transform: uppercase;
  }

  @include media-query-on-laptop() {
    h6 {
      display: inline;
      font-size:32px;
    }
    ul {
      padding-left:1em;
      display: inline;
      font-size:18px;
    }
  }
}

.certification {

  padding-top:24px;
  border-top:1px solid #fff;

  ul {
    list-style: none;
    margin:0;
    text-align: center;
  }

  li {
    display: inline;
    padding:$spacing-unit / 2;
  }
}





/**
 * Page content
 */
.page-content {
  padding: 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {

  .image-wrapper {
    text-align: center;
  }
}

.post-title-outer {
  padding:2.5em 0 1.5em;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  color:#fff;


  @include media-query-on-laptop() {
    @include relative-font-size(2.25);
  }
}

.post-content {
  padding: $spacing-unit 0;
  background:#e1e7e7;

  p {
    font-size:24px;
    margin:0 0 1.3em;
  }
  p.primary {
    color: #398A41;
    font-weight: 400;
  }

  h2 {
    @include relative-font-size(1.1);
    color:#6E7A7F;
    margin-bottom:0.3em;
  }

  h3 {
    @include relative-font-size(1.05);
    color:#6E7A7F;
    margin-bottom:0.3em;
  }

  h4 {
    @include relative-font-size(1);
    color:#6E7A7F;
    margin-bottom:0.3em;
  }
}


.legal {
  margin:1em 1em 2em;
  font-size:10px;
  text-align: center;
  color: #0E8DB1;
  a {
    color: #0E8DB1;
    &:visited {
      color: #0E8DB1;
    }
  }
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    border:1px solid #7B888F;
}
.videowrapper iframe {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

dl.board-of-directors {
  dt {
    font-size:1.1em;
    
    span.name {
      font-weight: 400;
      color: #408140;
    }

  }

  dd {
   margin-bottom: 1em;
  }

}

.annual-reports {
  list-style: none;
  margin:0;

  span {
    color: #408140;
  }

  a {
    font-weight: 400;
    color: $text-color;
  }
}

// Contacts

.contact-cols {
  @extend %clearfix;

  border-bottom: 1px solid #0E8DB1;
  margin: 2em 0 1em;

  .col {
    .inner {
      position: relative;
      border-right: 1px solid #0E8DB1;
      padding:0 15px;
      margin:0 15px;
      min-height: 410px;
    }

    h2 {
      width:70%;
      color:#398A41;
      font-weight: 400;
      min-height: 2em;
    }
    img {
      position: absolute;
      right: 25px;
      top:0;
    }
  }

  .col:last-child .inner {
    border:0;
  }
  

  @include media-query-on-laptop() {
    .col {
      float:left;
      width: 33%;
    }
  }
  


}