---
layout: default
---

<div class="home">

  <!-- Slideshow -->

  <div id="home-slideshow-desktop">
    <ul>
      <!-- Desktop -->
      <li>
        <a href="#"><img src="./assets/images/home/slides/1.png" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="./assets/images/home/slides/2.png"  alt=""></a>
      </li>
      <li>
        <a href="#"><img src="./assets/images/home/slides/3.png" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="./assets/images/home/slides/4.png" alt=""></a>
      </li>
    </ul>
  </div>

  <div id="home-slideshow-mobile">
    <ul>
      <!-- Mobile -->
      <li>
        <a href="#"><img src="./assets/images/home/slides/1-mobile.png" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="./assets/images/home/slides/2.png"  alt=""></a>
      </li>
      <li>
        <a href="#"><img src="./assets/images/home/slides/3.png" alt=""></a>
      </li>
      <li>
        <a href="#"><img src="./assets/images/home/slides/4.png" alt=""></a>
      </li>
    </ul>
  </div>

  <script>
    jQuery(document).ready(function(){
      jQuery('#home-slideshow-desktop ul, #home-slideshow-mobile ul').slippry({
        pager:false,
        captions: false
      })
    });
  </script>

  <!-- End Slideshow -->

  <!-- Description -->
  <div class="company-description green-gradient">
    <div class="wrapper">
      <h1>
        Miro Forestry is a sustainable forestry and timber products
        business with plantations in Ghana and Sierra Leone, West Africa.
      </h1>
    </div>
  </div>
  <!-- End Description -->

  <!-- Company Stats -->
  <div class="company-stats">
    <div class="wrapper">
      <div class="col col-current-stock">
        <img src="./assets/images/home/current-stock.png" alt="Current Stock" class="mobile">
        <img src="./assets/images/home/current-stock-dt.png" alt="Current Stock" class="desktop">
        <p>
          Miro Forestry
          has 10,000 hecatres of standing
          forest established through its own
          planting activities
        </p>
      </div>
      
      <div class="col col-arrow"></div>

      <div class="col col-growth">
        <img src="./assets/images/home/growth.png" alt="Growth" class="mobile">
        <img src="./assets/images/home/growth-dt.png" alt="Growth" class="desktop">
        <p>
          Expanding this
          plantation
          area at a rate of
          3,000 hectares per year
        </p>
      </div>

      <div class="col col-arrow"></div>

      <div class="col col-product">
        <img src="./assets/images/home/timber2.png" alt="Timber products" class="mobile">
        <img src="./assets/images/home/timber2-dt.png" alt="Timber products" class="desktop">
        <p>
          Producing sustainable 
          timber products including 
          sawn timber, poles and
          wood biomass
        </p>
      </div>

    </div>
  </div>
  <!-- End Company Stats -->
  
  <!-- FSC statement -->
  <div class="fsc-statement parallax parallax-1">
    <div class="wrapper">
      <p>
        The majority of our plantations and wood processing operations are Forest Stewardship Council&trade; (FSC&trade;) certified meaning we voluntarily comply with the international gold standard of responsible forest management.
      </p>
    </div>
  </div>
  <!-- End FSC statement -->

  <!-- Products Summary -->

  <div class="products-summary">
    
    <div class="green-gradient">
      <div class="wrapper">
        <h2>We specialise in the production of the following products:</h2>
      </div>
    </div>
    
    <div class="wrapper">
      <ul>
        <li>
          <div class="circle">
            <a href="./products/timber">
              <i class="timber"></i>
            </a>
          </div>
          <i class="overlap"></i>
          <div class="product">
            <h3>
              <a href="./products/timber">
                Structural Sawn Timber
              </a>
            </h3>

            <p>
              Pallets, flooring, tongue and groove etc. can be made to order - products can be treated upon request.
            </p>

          </div>
        </li>

        <li>
          <div class="circle">
            <a href="./products/poles">
              <i class="poles"></i>
            </a>
          </div>
          <i class="overlap"></i>
          <div class="product">
            <h3>
              <a href="./products/poles">
                Poles
              </a>
            </h3>
            <p>
              Electricity utility poles, fence posts and building poles, treated and untreated.
            </p>
          </div>
        </li>

        <li>
          <div class="circle">
            <a href="./products/biomass">
              <i class="energy"></i>
            </a>
          </div>
          <i class="overlap"></i>
          <div class="product">
            <h3>
              <a href="./products/biomass">
                Biomass Energy
              </a>
            </h3>
            <p>
              Wood biomass for power production, charcoal and firewood.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
    <!-- End Products Summary -->

  <!-- Products Description -->
  <div class="products-description">
    <div class="wrapper">
      <h2>
        Plywood panels will also be available in the near future.
      </h2>
      <p>
        Miro’s plantations are well located to competitively supply consistent quality wood products into the local market as well as to export markets through nearby container ports.
      </p>
      
      <p>
        We carry stock to enable us to meet orders on short notice. We are also interested in purchasing timber from third party suppliers and smallholder farmers to maintain our stock levels. In addition, we provide forestry services to forest owners, to rubber plantations (harvesting and clearing overmatured areas), and also environmental services to mining groups (including rehabilitation planting) in West Africa.
      </p>

    </div>
  </div>

  

  <!-- End Products Description -->

  <!-- Videos -->
  <div class="videos">
    <div class="wrapper">
      <p>
        Would you like to hear more about Miro Forestry?<br>
        Please click on these videos below
      </p>

      <ul>
        <li>
          <a href="./company/overview#play-1">
            <span class="play-button">
              <img src="./assets/images/home/play.png" alt="Play Video">
            </span>
            <span class="title">
              Company Story
            </span>
          </a>
        </li>

        <li>
          <a href="./company/overview#play-2">
            <span class="play-button">
              <img src="./assets/images/home/play.png" alt="Play Video">
            </span>
            <span class="title">
              Company Overview
            </span>
          </a>
        </li>

        <li>
          <a href="./sustainability/overview#play">
            <span class="play-button">
              <img src="./assets/images/home/play.png" alt="Play Video">
            </span>
            <span class="title">
              Impact Investment
            </span>
          </a>
        </li>

        <li>
          <a href="http://www.cdcgroup.com/The-difference-we-make/Case-Studies/Miro-Forestry/" target="_blank">
            <span class="play-button">
              <img src="./assets/images/home/play.png" alt="Play Video">
            </span>
            <span class="title">
              Miro Case Study
            </span>
          </a>
        </li>

        <li>
          <a href="./company/business-strategy#play">
            <span class="play-button">
              <img src="./assets/images/home/play.png" alt="Play Video">
            </span>
            <span class="title">
              Why Invest in Timber
            </span>
          </a>
        </li>

      </ul>
    </div>
  </div>
  <!-- End Videos -->

  <!-- Home Footer Photo -->
  <div class="home-footer-photo parallax parallax-2">
    
  </div>
  <!-- End Home Footer Photo -->

</div>
